@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-color: rgb(41, 65, 171);
  background-size: 175%;
  background-position: 46% 4%;
  -webkit-box-pack: center;
  justify-content: center;
  
}
.fondo {
  background-image: url(https://lh3.googleusercontent.com/uSUrkrEr1V9P_6sIuJ81PjvLafu7lsKIGQvv2YziCEmL_Kzz7zJVfsZQx7Ce05N9AkNozlWofVsmNy2Ca3X1=w1920-h937-rw);
  background-size: cover;
  -webkit-box-pack: center;
  justify-content: center;
  
}